/* font link  */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --ubunto: Ubuntu;
  --raleway: Raleway;
  --primary-font: "Ubuntu";
  --secondary-font: "Raleway";
  --primary: #483875;
  --shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  --shadowBG: #fffdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font) !important;
}

nav a {
  font-family: var(--primary-font);
  font-size: 16px !important;
  margin-left: 30px;
}

.dropdown-menu a {
  margin-left: 0px;
  padding: 8px !important;
}

nav .login_button {
  background-color: var(--primary);
  color: white;
  text-transform: uppercase;

  padding: 5px 15px !important;
  margin-left: 30px;
}

nav .login_button:hover {
  border: solid 1px var(--primary);
  color: var(--primary) !important;
  text-transform: uppercase;
}

nav li a:hover {
  color: var(--primary) !important;
  background-color: var(--primary);
  border-radius: 3px;
  color: white !important;
}

.dropdown-menu a {
  padding: 2px;
}

.dropdown-menu .dropdown-item:active {
  background-color: var(--primary) !important;
}

@media screen and (max-width: 992px) {
  nav {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgb(255, 255, 255);
  }

  nav .login_button {
    margin-left: 0px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
  }

  nav ul li a {
    text-align: center;
    margin: 0 !important;
    padding: 10px !important;
  }

  nav ul li {
    margin-top: 15px;
  }

  .domainSearchForm1 {
    padding: 0px 20px;
  }
}
/* end navbar here  */
/* start Hero sectinon here  */
#hero {
  background: url("../images/Hosting/image/hostingHeroImage.png");
  width: 100%;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* position: relative; */
}
.heroHeadingtext{
  width: 100%;
  height: 100%;
  margin-top: 100px !important;
}

@media screen and (max-width:768px) {
  .heroHeadingtext h1{
    font-size: 7vw !important;
  }
}
@media screen and (max-width:375px) {
  .heroHeadingtext h1{
    font-size: 10vw !important;
  }
}



/* end Hero sectinon here  */

/* satrt card sectinon here  */
.hoverEffect:hover {
  box-shadow: var(--shadow);
  background-color: var(--shadowBG);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 10px;
}

.hoverEffect {
  width: 355px !important;
  margin: 10px !important;
}
/* end card sectinon here  */

/* star Pricing card sectinon  */

.pricingHoverEffect:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  transition: all 0.5s;
}

.pricingHoverEffect:hover .standardHoverBtn {
  background-color: #f54646 !important;
  transition: all 0.5s ease-in-out !important;
}

.card-one {
  width: 25%;
  height: 550px;
  background-color: #ffffff;
  border-radius: 30px 0px;
  padding: 0px !important;
  position: relative;
}

.hostingPricingCard .button-one {
  background-color: var(--primary);
  color: white;
}

.hostingPricingCard .button-two {
  border: solid 1px var(--primary);
}

.hostingPricingCard button:hover {
  border: solid 1px var(--primary);
}

.card-one .p-text {
  text-transform: capitalize;
  font-size: small;
}

.card-one ul li {
  text-transform: capitalize;
  font-size: small;
  padding: 4px;
  list-style-type: none;
  font-family: var(--raleway);
}

.card-one .card-one-bottm {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 0 0 25px 0px;
  background-color: var(--primary);
  color: white;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* start card two  */
.card-two {
  background-color: var(--primary);
  color: white;
  perspective: 100px;
  perspective-origin: left;
  width: 25%;
  height: 596px;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
  perspective: 100px;
  perspective-origin: left;
  cursor: pointer;
}

.card-two .box {
  width: 50px;
  height: 200px;
  background-color: #f54646;
  transform: rotateZ(287deg) rotateX(31deg) rotateY(341deg);
  flex-shrink: 0;
  position: absolute;
  top: -60px;
  left: 20px;
}

.card-two-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f54646 !important;
}

.rotate-text {
  position: absolute;
  top: 30px;
  left: -2px;
  transform: rotate(-49deg);
}

@media screen and (max-width: 576px) {
  .card-two {
    margin-top: 20px !important;
  }
}

/* office code */

.pricing_tab {
  border: 1px solid var(--primary) !important;
  color: black !important;
}

.pricing_tab.active {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: white !important;
}
.resizeButtonMonthly {
  border-radius: 10px 0 0 10px !important;
}
.resizeButtonYearly {
  border-radius: 0 10px 10px 0 !important;
}

/* end Pricing card responsive sectinon  */

@media screen and (max-width: 992px) {
  .hostingResponsive {
    width: 400px !important;
    margin: auto;
  }
}

/* start service section  */
.service {
  font-family: var(--ubunto);
  margin-top: 80px;
}

.serviceHoverEffect:hover {
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: var(--shadowBG);
  cursor: pointer;
  transition: all 0.5s;
}

.serviceHoverEffect {
  padding: 10px;
}
/* start customer section  */
.customer {
  font-family: var(--ubunto);
  margin-top: 110px;
}

.customer-card {
  background-color: var(--primary) !important;
}

.customer .customer-text {
  color: var(--primary);
}

.ricky-jhon-text {
  font-family: var(--raleway) !important;
  font-size: small;
}

.rating {
  font-family: var(--raleway);
}
/* *******************mejor */
/* START RATING SECTION */
.ratingResponsive:hover {
  cursor: pointer;
}
/* END RATING SECTION */

/* start footer section  */
.footer {
  width: 100%;
  min-height: 450px;
  background-color: #160e2f;
  font-family: var(--ubunto);
  text-transform: capitalize;
}

.footer_child1 {
  width: 30%;
  color: white;
}

.domain-service {
  width: 20%;
  color: white;
  text-transform: capitalize;
}

.domain-service a{
  text-decoration: none;
  color: #bab8b8;
}
.domain-service a:hover{
  
  color: #ffffff;
}

.callerfixing, .mailFixing{
  cursor: pointer;
}

.footer p {
  color: rgb(168, 168, 168) !important;
  text-align: start;
}
.footer-img a{
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .domain-service{
    width: 100%;
  }
  .fixingHostingFooter{
    width: 100%;
  }
}

/* finished home page  */
.unlimitedPricingCard {
  display: flex;
}

@media screen and (max-width: 576px) {
  .ratingResponsive {
    width: 40% !important;
    margin: 10px;
  }
}

.location-text {
  margin-bottom: -30px;
}

.tabsParent button {
  border-color: var(--primary);
}

.tabsParent button:focus {
  background-color: var(--primary);
  color: white;
}

.controlHeading {
  margin-top: 100px;
}

/* copy Right */

.copyrightFooter {
  background-color: #ffdddd;
}

.copyrightFooter p {
  font-weight: 500;
  padding: 10px;
  margin: 0px 10px;
}

#copyright {
  background-color: #ffdddd !important;
}

.tramsAndCondition a {
  text-decoration: none;
  color: rgb(43, 43, 43);
}
/* *******************mejor */

/* Back to top button  */
.BTbtn{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white ;
  border: 3px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
